.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: auto;
    min-width: 13.135rem;
    gap: .4rem !important;
    padding: 0 1rem 0 1.5rem;
    svg {
        margin: 0;
        color: $white;
    }
    &.primary svg {
        color: $textColor;
    }
}

.dropdown-box {
    ul {
        padding: 1.6rem;
        li {
            padding: .9rem 1.2rem;
            svg {
                margin-inline-end: 1.8rem;
            }
        }
    }
}