.custom-popover {
    box-shadow: 0px 15px 20px 0px rgba($grayColor2, .33);
    :global {
        .ant-popover-inner {
            border-radius: 5px;
        }
        .ant-popover-inner-content {
            padding: 16px;
        }
    }
    &.no-padding {
        :global {
            .ant-popover-inner-content {
                padding: 0;
            }
        }
    }
}

.functional-popover {
    box-shadow: 0px 15px 20px 0px rgba($grayColor2, .33);
    min-width: 227px;
}
  