.upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  min-height: 100px;
  border: 1px dashed $stroke1;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  svg {
    color: $primary-color;
    font-size: 12px;
  }
}

:global {
  .ant-upload.ant-upload-select {
    display: block;
  }
}
.theme1 {
  height: 40px;
  line-height: 40px;
  border: 1px dashed $stroke1;
  border-radius: 5px;
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    display: inline-block;
  }
  svg {
    color: $primary-color;
    font-size: 12px;
    position: relative;
    margin-inline-start: 0;
    top: -50%;
    margin-bottom: -6px;
  }
}