.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & > label {
        color: $coolDark3;
        line-height: 20px;
    }
}
.container {
    display: flex;
    column-gap: 8px;
    .logo {
        display: flex;
        column-gap: 8px;
        div[class^='main--']{
            align-self: center;
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
            height: 18px;
            line-height: 18px;
            font-size: 14px;
            display: flex;
            column-gap: 6px;
        }
        .subTitle {
            height: 18px;
            line-height: 18px;
            margin-top: 2px;
            font-size: 12px;
            color: $coolDark2;
            opacity: 0.7;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            span {
                font-weight: 600;
            }
        }
    }
    .extra-icon {
        color: $statusColorSuccess;
    }
    .profile-icon {
        color: $statusColorLink;
        cursor: pointer;
    }
}
.theme-2 {
    .title {
        font: 600 18px 'Montserrat', sans-serif;
        color: $statusColorLink;
    }
    .subTitle {
        color: $coolDark1;
        line-height: 14px;
        margin-top: 0;
    }
}
.theme-3 {
    .title {
        font: 600 1.6rem 'Barlow';
        color: $coolDark1;
    }
    .subTitle {
        color: $coolDark2;
        font: 500 1.4rem 'Barlow';
    }
}
.theme-4 {
    .title {
        font: 600 1.8rem 'Montserrat' !important;
        color: $coolDark1;
    }
    .subTitle {
        color: $coolDark3;
        font: 400 1.4rem 'Barlow' !important;
    }
}
.theme-5 {
    gap: 2.2rem;
    margin-bottom: 4rem;
    .info {
        gap: .8rem;
        .title{
            color: $statusColorLink;
            font-size: 1.8rem;
            font-weight: 600;
        }
    }
    .subTitle {
        font-size: 1.4rem!important;
        opacity: 1!important;
    }
}