.filter {
    width: 70px;
    min-width: 70px;
    background-color: $white;
    border: 1px solid rgba($stroke2, 0.6);
    transition: all 0.2s;
    height: 100vh;
    position: sticky;
    top: 0;
    @media (max-width: 768px) {
        width: 100%;
        min-width: 100%;
        display: none;
    }
    &.is-open {
        width: 460px;
        min-width: 460px;
        @media (max-width: 768px) {
            width: 100%;
            min-width: 100%;
        }
        overflow: hidden;
        transition: all 0.2s;
        .filter-header {
            justify-content: flex-start;
            padding: 0 25px;
            & > span {
                display: flex;
            }
            &-text {
                white-space: nowrap;
            }
        }
        .filter-content {
            display: flex;
            height: calc(100vh - 60px);
            overflow-x: hidden;
            overflow-y: auto;
            @include scrollbar;
            @media (max-width: 768px) {
                flex-direction: column;
            }
            .menu {
                width: 100%;
                min-width: 300px;
                border-inline-end: 1px solid rgba($stroke2, 0.6);
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px 16px;
                align-content: flex-start;
                & > li {
                    width: calc(50% - 8px);
                    max-height: 46px;
                    &.tree {
                        max-height: initial;
                    }
                    & > div, & > div > div {
                        width: 100%;
                    }
                }
                &:first-child {
                    min-width: 460px;
                    max-width: 460px;
                    li:hover {
                        // background-color: $bg;
                        border-radius: 5px;
                        div {
                            color: $primaryColor;
                        }
                        svg {
                            color: $primaryColor;
                        }
                    }
                }
                &:not(:first-child) {
                    gap: 10px;
                    li {
                        & > div {
                            width: 100%;
                            & > div {
                                width: 100%;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    &.is-open-level-1 {
        width: 760px;
        min-width: 760px;
        @media (max-width: 768px) {
            width: 100%;
            min-width: 100%;
        }
    }
    &.is-open-level-2 {
        width: 845px;
        min-width: 845px;
        @media (max-width: 768px) {
            width: 100%;
            min-width: 100%;
        }
    }
    &-header {
        height: 60px;
        border-bottom: 1px solid rgba($stroke2, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        color: $iconColor4;
        cursor: pointer;
        > div {
            display: flex;
            align-items: center;
            justify-content: center;
            > svg {
                &:not(:first-child) {
                    margin-inline-start: -18px;
                }
            }
        }
    }
    &-content {
        .menu {
            display: flex;
            flex-direction: column;
            list-style: none;
            // row-gap: 10px;
            padding: 10px 20px;
            margin: 0;
            > li {
                display: flex;
                // justify-content: center;
                justify-content: flex-start;
                align-items: center;
                padding: 0;
                cursor: pointer;
                .forward-arrow {
                    margin-inline-start: auto;
                    color: $iconColor4;
                    width: auto !important;
                }
                > div {
                    display: flex;
                    column-gap: 14px;
                    color: rgba($iconColor2, 0.85);
                    overflow: hidden;
                    justify-content: flex-start;
                    align-items: center;
                    &[class^='range-'], &[class^=' range-'] {
                        & > label {
                            top: -4px !important;
                            inset-inline-start: 7px;
                        }
                        & > div {
                            margin: 0;
                        }
                    }
                    label {
                        padding: 0 5px;
                    }
                    svg {
                        color: $iconColor4;
                        width: 24px;
                        min-width: 24px;
                    }
                }
                .sub-menu-item {
                    padding: 8px 12px;
                    & > div {
                        display: flex;
                        column-gap: 14px;
                        align-items: center;
                    }
                }
                &.active {
                    background-color: $bg;
                    border-radius: 5px;
                    div {
                        color: $primaryColor;
                    }
                    svg {
                        color: $primaryColor;
                    }
                }
                &.withIcon {
                    padding: 8px 12px;
                    justify-content: space-between;
                    margin: 6px 0 0;
                    height: 40px;
                    transition: all .3s;
                    &.closed {
                        padding: 0;
                        border-radius: 50%;
                        width: 40px;
                        svg {
                            margin-inline-start: 8px;
                        }
                    }
                    &:hover {
                        background-color: $bg;
                    }
                }
                
                .label {
                    font-size: 14px;
                    color: $coolDark1;
                    font-weight: 500;
                }
                :global {
                    .ant-form-item-control-input-content {
                        min-height: 46px !important;
                        padding-top: 6px;
                    }
                    .ant-collapse-header {
                        padding: 0 !important;
                    }
                    .ant-collapse-item {
                        width: 100% !important;
                    }
                    .ant-collapse-content-box {
                        padding: 0 !important;
                    }
                    .ant-collapse-arrow {
                        right: 0 !important;
                    }
                    .ant-slider-track {
                        background-color: $primaryColor !important;
                    }
                    .ant-slider-handle {
                        border-color: $primary-color !important;
                    }
                    .ant-checkbox-group {
                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;
                        margin-top: 10px;
                        > label {
                            color: $coolDark1;
                            font-weight: 400;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .sub-menu {
            flex-direction: column !important;
            flex-wrap: nowrap !important;
            li {
                width: 100% !important;
            }
            > div {
                overflow: visible;
            }
        }
    }
}

.hide {
    display: none !important;
}

.range-bar-item {
    :global {
        .ant-slider-rail {
            background-color: $stroke1;
        }
        .ant-slider-handle {
            opacity: 0;
        }
    }
    .range-bar-marks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: -5px;
        > span {
            font-size: 11px;
            font-weight: 400;
        }
    }
}

:global {
    .ant-slider-tooltip {
        .ant-tooltip-content {
            background-color: $primaryColor !important;
            border-radius: 40px;
        }
        .ant-tooltip-arrow-content {
            background-color: $primaryColor !important;
        }
        .ant-tooltip-inner {
            font-size: 11px;
            font-weight: 400;
            background-color: $primaryColor !important;
            border-radius: 40px;
            min-height: auto !important;
            padding: 0 4px 2.5px;
        }
    }
}

.field-wrapper {
    border: 1px solid rgba($stroke2, 1);
    position: relative;
    padding: 6px;
    border-radius: 3px;
    .icon {
        position: absolute;
        inset-inline-end: 6px;
        top: 6px;
        position: relative;
        width: 50px; /* Define the size of your toggle icon */
        height: 50px;
        background: $white; /* Set the background color */
        border-radius: 50%; /* Make it round */
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:after, &:before {
            position: absolute;
            content: '';
            height: 30px;
            width: 2px;
            background: #1A0D07;
            left: 50%;
            top: 50%;
            transition: transform 0.4s ease;
            transform: translate(-50%, -50%);
        }
        &.minus {
            content: '-';
        }
    }
}
