.container {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: $white;
    img {
        display: block;
        border-radius: 50%;
    }
    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-weight: 500;
        font-family: barlow;
        color: $white;
    }
    &.square {
        border-radius: 0;
        img, .text {
            border-radius: 0;
        }
    }
}
:global {
    .ant-image-preview-footer {
        display: none;
    }
}