.check-box-container {
    margin-top: 4px;
    display: flex;
    align-items: center;
    h5 {
        margin-inline-end: 16px;
        font-size: 15px;
        font-weight: normal;
        color: black;
        margin-bottom: 0;
    }
    & > div {
        line-height: 40px;
        font-size: 14px;
        column-count: auto;
        & > label {
            margin-inline-start: 0 !important;
            width: auto !important;
        }
    }
    .checkbox-type-button {
        :gloabl {
            // Pattern
            .ant-checkbox-group {
                display: flex;
                .ant-checkbox-wrapper {
                    margin-inline-end: 10px;
                    border: 1px solid $stroke1;
                    border-radius: 5px;
                    overflow: hidden;
                    cursor: pointer;
                    .ant-checkbox {
                        display: none;
                    }
                    &.ant-checkbox-wrapper-checked {
                        border: 1px solid $primary-color;
                    }
                }
            }
        }
    }
    
    .theme-1, .theme-3 {
        :global {
            .ant-space-horizontal {
                gap: 16px !important;
                flex-wrap: wrap;
                .ant-space-item {
                    height: 30px;
                    .ant-checkbox-wrapper {
                        font-size: 10px;
                        font-weight: 500;
                        color: $coolDark1;
                        line-height: 10px;
                        height: 30px;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        padding: 3px 6px;
                        width: 60px;
                        border: 1px solid #d9d9d9;
                        text-align: center;
                        &.ant-checkbox-wrapper-checked {
                            border-color: $event-primary-color;
                            background: rgba(255, 104, 26, 0.10);
                            color: $event-primary-color;
                        }
                        .ant-checkbox{
                            position: absolute;
                            inset-block-start: 0;
                            inset-inline-start: 0;
                            width: 100%;
                            height: 100%;
                            span{
                                display: none;
                            }
                        }
                        &>span{
                            padding-inline-start: 0px;
                            padding-inline-end: 0px;
                            margin: auto;
                        }
                    }
                    .ant-checkbox-wrapper-disabled{
                        background-color: $white;
                        border-color: $stroke1;
                    }
                }
            }
        }
    }
    .theme-2 {
        .option {
            width: 39rem;
            max-width: 39rem;
            padding: 0;
            display: flex;
            flex-direction: column;
            row-gap: .4rem;
            margin-bottom: 1rem;
            label {
                font-weight: 700;
                font-size: 1.6rem;
                color: $bgBlack;
            }
            span {
                font-weight: 500;
                font-size: 1.6rem;
                color: $coolDark3;
            }
        }
        :global { 
            .ant-checkbox-wrapper {
                flex-direction: row-reverse;
            }
            span.ant-checkbox {
                position: relative;
                margin: auto;
                left: 14.5rem;
            }
        }
    }
    .theme-3 {
        width: 100%;
        :global {
            .ant-space-horizontal {
                gap: 0 !important;
                width: 100%;
                .ant-space-item {
                    height: 40px;
                    width: 100%;
                    .ant-checkbox-wrapper {
                        width: 100%!important;
                        font-weight: 500;
                        border-radius: 0;
                        color: $coolDark1;
                        line-height: 40px;
                        height: 40px;
                        & > span {
                            line-height: 40px;
                        }
                        &.ant-checkbox-wrapper-checked {
                            background-color: $bg;
                            border-color: $border-light-color2;
                            color: $coolDark1;
                        }
                    }
                    &:last-child {
                        .ant-checkbox-wrapper {
                            border-radius: 0 5px 5px 0;
                        }
                    }
                    &:first-child {
                        .ant-radio-button-wrapper {
                            border-radius: 5px 0 0 5px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 280px) and (max-width: 768px) {
    .check-box-container {
      display: block;
    }
}